<% include partials/header %>


<div class="container">
    <div class="card" style="width: 18rem; margin: 150px auto;">
        <div class="card-body">
            <form action="/profile" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" />
            </form>
        </div>
      </div>
</div>
<% include partials/footer %>